@model IEnumerable<IMDB.Models.Country>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_AdminPartial.cshtml";
}
<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="record_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <button type="button" class="btn btn-danger" id="delete" onclick="Delete(@item.Id)">Delete</button>
            </td>
        </tr>
    }

</table>


<script>
    function Delete(id) {

        if (confirm("Are you sure?")) {
            $.ajax({
                type: "POST",
                url: "/Country/Delete/" + id,
                success: function (response) {

                    if (response.result == 1) {
                        $("#record_" + id).remove();
                    }
                    else {
                        alert("Not Deleted");
                    }

                }

            })
        }


    }

</script>