@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        @Html.AntiForgeryToken()
<ul>
    <li>Welcome : @User.Identity.GetUserName()</li>

    <li><a href="@Url.Action("LikedMovies","Movie")"><i class="fa fa-thumbs-up"></i> Liked Movies</a></li>
    <li><a href="@Url.Action("DislikedMovies","Movie")"><i class="fa fa-thumbs-down"></i> DisLiked Movies</a></li>
    <li><a href="@Url.Action("FavoriteMovies","Movie")"><i class="fa fa-heart"></i> Favorite Movies</a></li>

    <li><a href="@Url.Action("Index","Profile")"><i class="fa fa-user"></i> Profile</a></li>
    <li><a href="javascript:document.getElementById('logoff').submit()"><i class="fa fa-sign-out"></i>LogOut</a></li>

</ul>
    }


}
else
{
    <ul>
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-user"></i> Login</a></li>
    </ul>

}

