@model IMDB.ViewModels.ProfileViewModel

@using Microsoft.AspNet.Identity;


@{
if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminPartial.cshtml";
    }
}

<div class="single-page-agile-main">
    <div class="container">
        <!-- /w3l-medile-movies-grids -->

        <div class="single-page-agile-info">
            <!-- /movie-browse-agile -->
            <div class="show-top-grids-w3lagile">
                <div class="col-sm-3 single-left">
                    <div class="song">
                        <div class="song-info" style="text-align:center;">
                            <img src="@Model.User.ProfileImage" style="width:150px; border-radius:50%; " alt="" />
                            <h3>@Model.User.FirstName @Model.User.LastName</h3>
                        </div>

                    </div>
                    <div class="song-grid-right">
                        <div class="share">
                            @using (Html.BeginForm("Edit", "Profile", null, FormMethod.Get))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">

                                    <div class="col-md-offset-2 col-md-8">
                                        <div class="btn btn-default">
                                            <i class="fa fa-edit"></i><input type="submit" value="Edit Profile" style="background-color:white; border-style:none;" class="" />
                                        </div>

                                    </div>
                                </div>
                            }

                            <div class="single-agile-shar-buttons">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                </div>

                <div class="col-md-9 single-right">

                    <div class="single-grid-right">

                        <div class="general">
                            <h4 class="latest-text w3_latest_text">Favorite Movies</h4>
                            <div class="container">
                                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                            <div class="w3_agile_featured_movies">
                                                @foreach (var item in Model.FavoriteMovies)
                                                {
                                                    <div class="col-md-2 w3l-movie-gride-agile">
                                                        <a href="@Url.Action("MovieProfile","Movie",new {id=item.id})" class="hvr-shutter-out-horizontal">
                                                            <img src="@item.Image" title="album-name" class="img-responsive" alt=" " />

                                                        </a>
                                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                            <div class="w3l-movie-text">
                                                                <h6><a href="@Url.Action("MovieProfile","Movie",new {id=item.id})">@item.Name</a></h6>
                                                            </div>
                                                            <div class="mid-4 agile_mid_2_home">
                                                                <p>@item.Year </p>
                                                                <div class="block-stars">
                                                                    <ul class="w3l-ratings">
                                                                        <li><i>@item.Rank </i><a href="#"> <i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                                    </ul>

                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }

                                                <div class="clearfix"> </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="general">
                            <h4 class="latest-text w3_latest_text">Favorite Actors</h4>
                            <div class="container">
                                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                            <div class="w3_agile_featured_movies">
                                                @foreach (var item in Model.FavoriteActors)
                                                {
                                                    <div class="col-md-2 w3l-movie-gride-agile">
                                                        <a href="@Url.Action("ActorProfile","Actor",new {id=item.Id})" class="hvr-shutter-out-horizontal">
                                                            <img src="@item.Image" title="album-name" class="img-responsive" alt=" " />

                                                        </a>
                                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                            <div class="w3l-movie-text">
                                                                <h6><a href="@Url.Action("ActorProfile","Actor",new {id=item.Id})">@item.FirstName @item.LastName</a></h6>
                                                            </div>
                                                            <div class="mid-4 agile_mid_2_home">
                                                                <p>@item.Age year</p>
                                                                <div class="block-stars">
                                                                    <ul class="w3l-ratings">
                                                                    </ul>

                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }

                                                <div class="clearfix"> </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="general">
                            <h4 class="latest-text w3_latest_text">Favorite Directors</h4>
                            <div class="container">
                                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                            <div class="w3_agile_featured_movies">
                                                @foreach (var item in Model.FavoriteDirectors)
                                                {
                                                    <div class="col-md-2 w3l-movie-gride-agile">
                                                        <a href="@Url.Action("DirectorProfile","Director",new {id=item.Id})" class="hvr-shutter-out-horizontal">
                                                            <img src="@item.Image" title="album-name" class="img-responsive" alt=" " />

                                                        </a>
                                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                            <div class="w3l-movie-text">
                                                                <h6><a href="@Url.Action("DirectorProfile","Director",new {id=item.Id})">@item.FirstName @item.LastName</a></h6>
                                                            </div>
                                                            <div class="mid-4 agile_mid_2_home">
                                                                <p>@*@item.Age year*@</p>
                                                                <div class="block-stars">
                                                                    <ul class="w3l-ratings">
                                                                    </ul>

                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }

                                                <div class="clearfix"> </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="clearfix"> </div>
            </div>
            <!-- //movie-browse-agile -->



        </div>
        <!-- //w3l-latest-movies-grids -->
    </div>
</div>